---
http_interactions:
- request:
    method: get
    uri: http://api.fixer.io/2016-09-01?base=EUR&symbols=USD,NOK,SEK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 31 Aug 2016 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"base":"EUR","date":"2016-08-31","rates":{"NOK":9.2765,"SEK":9.5159,"USD":1.1132}}'
  recorded_at: Thu, 01 Sep 2016 11:30:19 GMT
recorded_with: VCR 3.0.3
