---
http_interactions:
- request:
    method: get
    uri: http://api.fixer.io/2016-09-04?base=EUR&symbols=EUR,USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 02 Sep 2016 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"base":"EUR","date":"2016-09-02","rates":{"USD":1.1193}}'
  recorded_at: Sun, 04 Sep 2016 17:23:01 GMT
recorded_with: VCR 3.0.3
