---
http_interactions:
- request:
    method: get
    uri: http://api.fixer.io/2016-08-29?base=EUR&symbols=EUR,USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 29 Aug 2016 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"base":"EUR","date":"2016-08-29","rates":{"USD":1.117}}'
  recorded_at: Mon, 29 Aug 2016 15:34:34 GMT
recorded_with: VCR 3.0.3
