%nav.navbar.navbar-light.bg-faded
  %a.navbar-brand Currency Exchange
  - if user_signed_in?
    %ul.nav.navbar-nav.pull-xs-right
      %li.nav-item
        .dropdown
          %a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-target" => "#", "data-toggle" => "dropdown"}
            = "Welcome, #{current_user.email}"
          .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
            = link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item"