.container
  .row
    .col-sm-12.text-xs-center.m-t-3
      %h1 Best currency exchange rates!
      = link_to "Sign Up Now!", new_user_registration_path
      %p
        Already have an account? Please
        = link_to "Sign In", new_user_session_path
